.jumbotron { 
  padding: 30px; /* fills out the jumbotron */
  background-color: #111;
  margin-bottom: 15px;
}

.container {
  width: 1170px; /* specify a width */
  margin: 0 auto;  /* centers the container */
  padding: 0 15px; /* adds some padding to the left and right*/
}

.jumbotron .container { 
  max-width: 100%; /* allows the jumbotron to adjust on smaller widths */
  background-color: #222;
}

.jumbotron h1 { 
  text-align: center; /* centers the heading */
  color: #DDD;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.contact{
    background-color: rgb(255, 255, 255);
    font-size: 26px;
    
  }
  
  .form{
    max-width: 550px;
    margin:15px auto;
  
  }
  .centered{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-input{
    margin: 10px 0px;
    width: 100%;
    padding: 3px 3px;
    font-size:16px;
    border: 2px solid grey;
    border-radius: 5px;
  }
  
  .btndark{
    padding: 3px 30px;
    margin:8px 0;
    border: 2px solid grey;
    border-radius: 8px;
    font-size: 15px;
    background: white;
    color: black;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    float: left;
   
  }