body { 
    margin: 0;
    background-color: #eee;
  }

  .jumbotron { 
    padding: 30px; /* fills out the jumbotron */
    background-color: #111;
    margin-bottom: 15px;
  }
  
  .container {
    width: 1170px; /* specify a width */
    margin: 0 auto;  /* centers the container */
    padding: 0 15px; /* adds some padding to the left and right*/
  }
  
  .jumbotron .container { 
    max-width: 100%; /* allows the jumbotron to adjust on smaller widths */
    background-color: #222;
  }
  
  .jumbotron h1 { 
    text-align: center; /* centers the heading */
    color: #DDD;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }

.card {
    padding: 20px;
    max-width:300px;
    max-height: fit-content;
    text-align: center;
    font-family: arial;
    justify-content: center;
    background-color: rgba(158, 156, 156, 0.712);
    border-radius: 16px;
    margin-top: -10px;
}
.main{
    float:left;
    padding-left: 60px;
    margin-top: 20px;

}
.twomain{
  float: left;
  margin-top: -30px;
  padding-left: 200px;
}  
.price {
    color: rgb(37, 37, 37);
    font-size: 20px;
}
  
.card button {
    border-color: white;
    outline: 2px;
    padding: 6px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
.card button:hover {
    opacity: 0.1;
}

