<head>
<link rel="stylesheet" href="../static/css/stylehome.css">
</head>
{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="jumbotron">
    <div class="container">
      <h1> Clothing Colussus</h1>
    </div>
  </div>
  <div class="container">
    <h2>Bacon Ipsum</h2>
    <p>Bacon ipsum dolor sit amet bresaola shoulder ribeye jerky tongue andouille kevin meatloaf fatback shank bacon turkey turducken spare ribs chuck. Porchetta prosciutto pork chop, jowl andouille tri-tip rump kielbasa. Capicola ground round cow, drumstick shankle turducken pastrami. Flank bresaola meatball doner short ribs beef ribs ham hock pancetta. Prosciutto chuck andouille, spare ribs pork loin turkey jowl pastrami landjaeger corned beef doner tail strip steak. Brisket rump shank, doner pork chop leberkas turducken tri-tip ribeye shoulder spare ribs.</p>
  </div>
<section class="main 1">
    <div class="card">
        <img src="https://source.unsplash.com/900x900/?jeans,denim" alt="Denim Jeans" style="width:100%">
        <h1>Tailored Jeans</h1>
        <p class="price">From Rs.1799</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime praesentium distinctio consequuntur ad
            sapiente nobis nemo. Rem quidem fuga ipsum.</p>
        <p><button>Browse More</button></p>
    </div>
</section>
<section class="main 2">
    <div class="card">
        <img src="https://source.unsplash.com/900x900/?Shirt, adult" alt="Shirt" style="width:100%">
        <h1>Handmade Shirt</h1>
        <p class="price">From Rs.1999</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ipsa aliquam porro a. Ipsum quidem
            doloremque laboriosam recusandae rem quibusdam.</p>
        <p><button>Browse More</button></p>
    </div>
</section>
<section class="main 3">
    <div class="card">
        <img src="https://source.unsplash.com/900x900/?Trousers,pants" alt="Shirt" style="width:100%">
        <h1>Premium Trouser</h1>
        <p class="price">From Rs.899</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum harum mollitia ea pariatur. Aspernatur minus
            eligendi cupiditate ducimus laborum! Enim?</p>
        <p><button>Browse More</button></p>
    </div>
</section>
<section class="twomain 1">
    <div class="card">
        <img src="https://source.unsplash.com/900x900/?indian dress, clothes" alt="Shirt" style="width:100%">
        <h1>Indianwear</h1>
        <p class="price">From Rs.999</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt veniam, quasi nisi aspernatur illo
            possimus molestias doloribus vel recusandae iusto.</p>
        <p><button>Browse More</button></p>
    </div>
</section>
<section class="twomain 2">
    <div class="card">
        <img src="https://source.unsplash.com/900x900/?suit, blazer" alt="Shirt" style="width:100%">
        <h1>Luxury Suits</h1>
        <p class="price">From Rs.299</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, maxime saepe. Modi iusto minima tempora amet
            cumque provident dolorem quidem?</p>
        <p><button>Browse More</button></p>
    </div>
</section>
<hr>

</body>
{% endblock body %}